.Navbar {
    height: 3.5rem;
    background-color: var(--body-background);
    padding: 0 1rem;
    border-bottom: var(--border);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.Navbar>div {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.Navbar>div>div {
    align-items: center;
}

.logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 900;
}

.action {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}